  .loginform{
    display:flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow:0px -2px 5px 2px rgb(0, 0, 0,0.3),0px 2px 5px 2px rgb(0, 0, 0,0.4);
    padding:1rem 1rem;
    border-radius: 10px;
  }
  .forminput{
    width:100%;
    margin-bottom: 20px;
    height:2rem;
    border-radius:10px;
    border:1px solid black;
  }

  .button{
    padding:1rem ;
    width:auto;
    font-size: 1rem;
    border-radius: 20px;
    border:none;
    margin-bottom: 20px;
    background-color: rgb(102, 159, 136);
  }
  .button:hover{
    background-color: rgb(57, 86, 75);
    color: white;
  }
 

  .headtext{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }